* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: #000000;
}
html {
   overflow: scroll;
   overflow-x: hidden;
}
::-webkit-scrollbar {
   width: 0px; /* Remove scrollbar space */
   background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
   background: #ff0000;
}
/* NAV */
.nav-container {
   width: 100%;
   display: flex;
   padding: 20px;
   justify-content: space-around;
   background-color: transparent;
   position: fixed;
   z-index: 999;
   color: white;
   transition: 200ms ease-in;
}
.nav-container.scrolled {
   background-color: rgb(46, 45, 45);
   padding: 0;
}
.nav-container h2 {
   padding-top: 15px;
}
.nav-container ul {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.nav-container ul a {
   color: white;
   text-decoration: none;
   margin: auto;
}
.nav-container ul a:hover {
   color: white;
   text-decoration: none;
}
.nav-container ul li {
   list-style: none;
   font-size: 1.2rem;
   cursor: pointer !important;
   border-bottom: 0px solid white;
   transition: 100ms ease-in;
   text-align: center;
   margin: auto;
}

.nav-container ul li.active {
   border-bottom: 3px solid white;
}
.nav-container ul li:hover {
   border-bottom: 3px solid white;
}
.nav-container .nav-link.active li {
   border-bottom: 3px solid white;
}
/* NAV */

/* HOME */
.jumbotron {
   width: 100%;
   height: 100vh;
   background-image: url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80);
   background-size: cover;
   position: relative;
}
.jumbotron::after {
   content: "";
   width: 100%;
   height: 100vh;
   background-color: black;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.5;
}

.jumbotron .container {
   width: 100%;
   height: 100%;
   margin-top: -20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 5;
}

.jumbotron .container .display-4 {
   font-size: 7rem;
   color: white;
   letter-spacing: 1.4px;
}

.jumbotron .container .input-group {
   width: 800px;
   font-size: 26px;
}
.jumbotron .container .input-group input {
   height: 50px;
   font-size: 20px;
}
/* HOME */

/* CONTACT */
.about {
   width: 100%;
   height: 100vh;
   background-image: url(https://images.unsplash.com/photo-1513106580091-1d82408b8cd6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);
   background-size: cover;
   position: relative;
   margin: auto;
   padding-top: 200px;
}
.about::after {
   content: "";
   width: 100%;
   height: 100vh;
   background-color: black;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.5;
}
.card {
   max-width: 600px;
   z-index: 99;
   background-color: #424242;
   color: white;
   margin: auto;
   padding: 20px;
}
.card h2 {
   text-align: center;
   margin-bottom: 10px;
}
.card hr {
   background-color: whitesmoke;
}
.card p {
   margin-bottom: 20px;
   text-align: left;
}
.card .social-icons {
   width: 100%;
   margin-top: 50px;
}
.card .social-icons a {
   color: white;
   margin: 0 8px;
   transition: color 200ms ease-in;
}
.card .social-icons a:hover {
   color: tomato;
}
/* search details */
.searchDetails {
   width: 100%;
   height: 100%;
   background-image: url(./img/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);
   background-color: black;
   background-repeat: no-repeat;
   object-fit: cover;
   background-position: center;
   padding-bottom: 100px;
}

.searchDetails .input-group {
   width: 800px;
   margin: auto;
   padding-top: 150px;
}
.searchDetails .desc {
   width: 100%;
   display: flex;
   padding-top: 50px;
   justify-content: center;
   color: white;
}
.searchDetails .desc .search {
   margin-right: 150px;
}
.searchDetails .desc span {
   color: rgb(255, 74, 74);
}
.containerCard {
   width: 1000px;
   margin: auto;
   padding-top: 50px;
   display: grid;
   grid-template-columns: repeat(auto-fill, 200px);
   justify-content: center;
   gap: 60px;
   row-gap: 40px;
   padding-bottom: 80px;
}
.containerCard h4 {
   color: white;
}
.containerCard .card {
   width: 100%;
   padding: none;
   outline-style: none;
   box-shadow: none;
   border: none;
   opacity: 1;
   background-color: transparent;
}
.containerCard img {
   width: 200px;
   height: 300px;
   object-fit: cover;
   opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: 0.5s ease;
   backface-visibility: hidden;
}
.containerCard .middle {
   transition: 0.5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
   color: white;
}
.containerCard .card:hover img {
   opacity: 0.2;
}

.containerCard .card:hover .middle {
   opacity: 1;
}

.pag-nav {
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: center;
}
.pag-nav ul li a {
   padding: 10px 20px;
   font-size: 20px;
}

/*  movie detail */
.wrapper {
   width: 100%;
   height: 130vh;
   background-image: url(./img/erik-witsoe-GF8VvBgcJ4o-unsplash.jpg);
   object-fit: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.wrapper::after {
   content: "";
   width: 100vw;
   height: 130vh;
   background-color: black;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.5;
}
.buttonWrapper {
   width: 100%;
   padding-top: 150px;
   position: relative;
   z-index: 5;
   margin-left: 20%;
}
.movieWrapper {
   max-width: 900px;
   padding-top: 20px;
   position: relative;
   z-index: 8;
   margin: auto;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   transition: 200ms linear;
}
.movieWrapper .imgWrapper {
   width: 40%;
   height: 400px;
   margin-right: 20px;
   text-align: center;
}
.movieWrapper img {
   width: 300px;
   margin-right: 100px;
   border-radius: 5px;
   margin: 0 auto;
   text-align: center;
}
.movieWrapper .card {
   width: 60%;
   height: 100%;
   padding: 10px 30px;
   background-color: rgb(59, 59, 59);
   border-radius: 5px;
   margin-bottom: 100px;
}
.movieWrapper .card .title {
   width: 100%;
   text-align: center;
   color: white;
   padding: 10px 0;
}
.movieWrapper .card hr {
   background-color: rgb(214, 214, 214);
}
.movieWrapper .card .details {
   display: flex;
   flex-direction: column;
}
.movieWrapper .card .details .plot {
   width: 100%;
   text-align: center;
   color: white;
}
.movieWrapper .card .details .plot h5 {
   letter-spacing: 2px;
}
.movieWrapper .card .details .moreDetails {
   width: 100%;
   color: white;
   display: flex;
   text-align: left;
}
.movieWrapper .card .details .moreDetails span {
   font-size: 16px;
   color: tomato;
}
.movieWrapper .card .details .moreDetails .personDetails {
   width: 50%;
}
.movieWrapper .card .details .moreDetails .movieDetails {
   width: 50%;
   margin-right: 20px;
}
.movieWrapper .card .ratings {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   color: white;
   text-align: center;
}
.movieWrapper .card .ratings h5 {
   padding: 5px;
}

.movieWrapper .card .ratings span {
   color: tomato;
}

/* footer */

footer {
   width: 100%;
   color: white;
   position: fixed;
   z-index: 99;
   bottom: 0;
   right: 0;
   text-align: right;
}

footer p {
   margin-right: 20px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1085px) {
   .jumbotron .container .display-4 {
      font-size: 6rem;
   }
   .jumbotron .container .input-group {
      width: 80%;
   }
   .containerCard {
      width: 100%;
      gap: 20px 30px;
   }
   .searchDetails .input-group {
      width: 80%;
   }
}
@media only screen and (max-width: 920px) {
   .wrapper {
      width: 100vw;
   }
   .wrapper .movieWrapper {
      width: 100%;
      flex-direction: column;
      align-items: center;
   }
   .wrapper .movieWrapper .imgWrapper {
      width: 100%;
      margin-bottom: 50px;
   }
   .wrapper .movieWrapper .card {
      width: 97%;
   }
   .buttonWrapper button {
      padding: 10px 30px;
   }
}
@media only screen and (max-width: 770px) {
   .jumbotron {
      width: 100%;
   }
   .jumbotron .container .display-4 {
      font-size: 4.7rem;
   }
   .jumbotron .container .input-group {
      width: 95%;
   }
   .searchDetails .input-group {
      width: 90%;
   }
   .searchDetails .desc .search {
      margin-right: 80px;
   }
}

@media only screen and (max-width: 600px) {
   .nav-container {
      display: flex;
      flex-direction: column;
   }
   .nav-container.scrolled h2 {
      display: none;
   }
   .nav-container h2 {
      margin: auto;
   }
   .buttonWrapper {
      padding-top: 190px;
   }
   .searchDetails .desc {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      text-align: center;
   }
   .searchDetails .desc .search {
      margin: 0;
      margin-bottom: 10px;
   }
   .containerCard {
      width: 100%;
      grid-template-columns: repeat(auto-fill, 180px);
      /* gap: 30px 30px; */
      justify-content: space-evenly;
   }
   .pag-nav ul li a {
      padding: 15px 30px;
   }
   .searchDetails .input-group {
      padding-top: 180px;
   }
   .searchDetails .card .middle h4 {
      font-size: 1.2rem;
   }
}
@media only screen and (max-width: 450px) {
   .searchDetails .containerCard {
      gap: 20px 5px;
   }
}

.iconContainer {
   padding-top: 50px;
   width: 100%;
   height: 100%;
   margin: auto;
   text-align: center;
   display: flex;
   justify-content: center;
   padding-bottom: 300px;
   flex-direction: column;
   color: white;
}
.iconContainer h3 {
   margin-top: 18px;
   letter-spacing: 2px;
}
.fas {
   font-size: 100px;
   transform-box: fill-box;
   margin: auto;
   animation-name: example;
   animation-duration: 1000ms;
   animation-iteration-count: infinite;
   color: rgb(255, 244, 244);
}
@keyframes example {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
